:root {
    --cor-primaria: #000d6c;
    --cor-secundaria: #0053c0;
    --cor-fundo: #fcfff1;
    --cor-texto: #000000;
    --cor-contraste: #d6d6d6;
    --cor-botao: #e1e1e1;

    --fonte-texto: 'Segoe UI', sans-serif;
}

*{
    transition: background-color 0.3s ease;
}

body.tema-escuro {
    --cor-primaria: #82c7ff;
    --cor-secundaria: #66dbff;
    --cor-fundo: #0d0073;
    --cor-texto: #ffffff;
    --cor-contraste: #4b64e4;
    --cor-botao: #000000;
}

.tema-escuro a {
    color: var(--cor-contraste)
}

.tema-escuro p {
    color: var(--cor-texto)
}

.tema-escuro header p {
    color: var(--cor-contraste)
}

.tema-escuro .btn-tema-escuro{
    background-color: var(--cor-secundaria);
}

body {
    max-width: 100vw;
    margin: 0;
    font-family: var(--fonte-texto)
}

header {
    background-color: var(--cor-primaria);
    color: var(--cor-contraste);
    text-align: center;
    margin: 0 auto;
    padding: 16px;
}

main {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
}

article {
    display: flex;
    margin: 16px;
    gap: 16px;
    padding: 16px;
    box-shadow: 4px 4px 11px rgba(0, 0, 0, 0.3);
    flex: 1 1 25%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

button {
    background-color: var(--cor-botao);
    color: var(--cor-texto);
    border: 1px solid var(--cor-secundaria);
    padding: 8px 16px;
    cursor: pointer;
    margin-bottom: 12px;
}

.autor {
    font-weight: bold;
}

main img {
    width: 80px;
    height: 80px;
    display: block;
}

h2,
p {
    margin-bottom: 12px;
}

.btn-tema-escuro {
    position: fixed;
    bottom: 16px; 
    right: 16px;  
    font-size: 32px; 
    padding: 12px;   
    background-color: var(--cor-primaria); 
    border-radius: 50%; 
    border: none; 
    cursor: pointer; 
}